<ion-header>
  <ion-toolbar color="success">
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(!news || news.length == 0) && (!information || information.length == 0)">
    <ion-row style="margin: 10px; font-size: 0.9em;">
      <ion-col size="24">
        Hiện tại bạn không có thông báo mới.
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="news && news.length > 0">
    <ion-row>
      <ion-col class="row row-child no-border" size="24">
        <div class="div-top"><b>Mới</b></div>
      </ion-col>
    </ion-row>
    <ion-row
      [class]="i == news.length - 1 ? 'row row-child' : 'row row-child no-border'" 
      *ngFor="let item of news; let i = index"
      (click)="read(item, i)">
      <ion-col size="4" class="col-left">
        <img src="../../assets/logotext-128x128.png">
      </ion-col>
      <ion-col size="20" class="col-right">
        <div class="div-top">{{item.title}}</div>
        <div class="div-center">{{item.message}}</div>
        <div class="div-bottom">{{item.created}}</div>
      </ion-col>
    </ion-row>
  </div>

  
  <div>
    <ion-row *ngIf="news && news.length > 0 && information && information.length > 0">
      <ion-col class="row row-child no-border" size="24">
        <div class="div-top"><b>Trước đó</b></div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="(!news || news.length == 0) && information && information.length > 0">
      <ion-col class="row row-child no-border" size="24">
        <div class="div-top"><b>Bạn có {{information.length}} thông báo.</b></div>
      </ion-col>
    </ion-row>

    <ion-row
      class="row row-child no-border" 
      *ngFor="let info of information; let ii = index">
      <ion-col size="4" class="col-left">
        <img src="../../assets/logotext-128x128.png">
      </ion-col>
      <ion-col size="20" class="col-right">
        <div class="div-top">{{info.title}}</div>
        <div class="div-center">{{info.message}}</div>
        <div class="div-bottom">{{info.created}}</div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
