ion-content{
    .row{
        margin: 15px 10px 15px 10px;
        &.row-child{
            border-bottom: 0.2px solid var(--ion-color-medium);
            &.no-border{
                border-bottom: 0px;
                margin-bottom: -15px;
            }
        }
        .col-left{
            img{
                width: 100%;
            }
        }
        .col-right{
            .div-top{
                font-size: 15px;
                color: black;
            }
            .div-center{
                font-size: 13px;
                color: rgba($color: black, $alpha: 0.5);
                text-align: justify;
                text-justify: inter-word;
            }
            .div-bottom{
                font-size: 11px;
                color: rgba($color: black, $alpha: 0.5);
            }
        }
    }
}