<ion-header>
  <ion-toolbar>
      <ion-searchbar type="text" placeholder="{{title}}" autocomplete="on" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <ion-radio-group (ionChange)="changeValue($event)" *ngIf="isItemAvailable">
    <ion-item *ngFor="let value of valuesFilter">
      <ion-label>
        {{value.name}}
      </ion-label>
      <ion-radio value="{{value.value}}"></ion-radio>
    </ion-item>
  </ion-radio-group> -->
  <ion-virtual-scroll [items]="valuesFilter">
    <ion-item *virtualItem="let item" (click)="changeValue(item)">
      <ion-label>
        {{item.name}}
      </ion-label>
      <ion-radio value="{{item.value}}"></ion-radio>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-grid no-padding>       
        <ion-row>
            <ion-col offset="12" size="11">
              <ion-button expand="block" (click)="close()">BỎ QUA</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>