<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Cập nhật thông tin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-header">
      <ion-col>
        HÌNH ĐẠI DIỆN
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="5" size="14">
        <div (click)="showMore(!defaultImage)" class="div-img">
          <span *ngIf="!defaultImage">+</span>
          <img *ngIf="defaultImage" [src]="defaultImage">
          <ion-button size="small" color="danger" 
              *ngIf="defaultImage" class="delete-button" (click)="clear()">X</ion-button>
        </div>
      </ion-col>
  </ion-row>
  <ion-row class="row-header">
    <ion-col>
      THÔNG TIN CỦA BẠN
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="contact"></ion-icon>
        </ion-label>
        <ion-input placeholder="Tên hiển thị" [(ngModel)]='display_name'></ion-input>
      </ion-item>   
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" placeholder="Email" [(ngModel)]='email'></ion-input>
      </ion-item>   
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input disabled="true" placeholder="Số điện thoại" [(ngModel)]='phone'></ion-input>
      </ion-item>   
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="pin"></ion-icon>
        </ion-label>
        <ion-input placeholder="Địa chỉ" [(ngModel)]='address'></ion-input>
      </ion-item>   
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="calendar"></ion-icon>
        </ion-label>
        <ion-datetime placeholder="Ngày sinh" display-format="DD/MM/YYYY" [(ngModel)]='birth_date'></ion-datetime>
      </ion-item>   
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col offset="4" size="16">
      <ion-button expand="block" (click)="showAlertUpdate()">CẬP NHẬT</ion-button>
    </ion-col>
  </ion-row>
</ion-content>