<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>

      <ion-title *ngIf="isAdd">Thêm câu hỏi</ion-title>
      <ion-title *ngIf="!isAdd">Sửa câu hỏi</ion-title>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="row-header">
    <ion-col>
      THÔNG TIN CỦA BẠN
    </ion-col>
  </ion-row>
  <ion-row class="row-doctor-info">
    <ion-col size="5" style="margin: auto">
      <img
        src="{{global.avatar}}">
    </ion-col>
    <ion-col size="18">
      <p class="p-name">{{global.userInfo.full_name}}</p>
      <p class="p-job">{{global.userInfo.phone}}</p>
      <p class="p-job">{{global.userInfo.email}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      CÂU HỎI CỦA BẠN
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col offset="1" size="22" (click)="onSelectCategory()">
      <ion-item>
          <ion-label position="fixed" class="label-input">
            <ion-icon name="list-box"></ion-icon>
          </ion-label>
        <ion-input placeholder="Chủ đề" readonly [(ngModel)]='item.category'></ion-input>
      </ion-item>
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="information-circle"></ion-icon>
        </ion-label>
        <ion-input maxLength="100" placeholder="Tiêu đề" [(ngModel)]='item.title'></ion-input>
        <div *ngIf="item.title.length > 0" style="font-size: 10px; margin-top: 30px;">
          {{ 100 - item.title.length }}/100
        </div>
      </ion-item>   
    </ion-col>
    <ion-col offset="1" size="22" (click)="onSelectProvince()">
      <ion-item>
          <ion-label position="fixed" class="label-input">
            <ion-icon name="pin"></ion-icon>
          </ion-label>
        <ion-input placeholder="Địa chỉ" readonly [(ngModel)]='item.province'></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      VẤN ĐỀ CỦA BẠN
    </ion-col>
  </ion-row>
  <ion-row class="row-note">
    <ion-col size="24">
      - Câu hỏi của bạn sẽ được xét duyệt trong 24h.
    </ion-col>
    <ion-col size="24">
      - Thông tin của bạn sẽ hoàn toàn được bảo mật.
    </ion-col>
  </ion-row>
  <ion-row class="row-text">
    <ion-col size="24">
      <ion-textarea class="text-desc" placeholder="Vui lòng nhập tiếng Việt có dấu để chuyên gia có thể hiểu chính xác về câu hỏi của bạn"
            maxlength="5000" rows="6" [(ngModel)]="item.question">
        <div class="text-count">{{ 5000 - item.question.length }}/5000</div>
      </ion-textarea>
    </ion-col>
  </ion-row>


  <ion-row class="row-header">
      <ion-col>
        HÌNH ẢNH MÔ TẢ
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="5" size="14">
        <div (click)="showGetImg(!defaultImage[0])" class="div-img">
          <span *ngIf="!defaultImage[0]">+</span>
          <img *ngIf="defaultImage[0]" [src]="defaultImage[0]">
          <!-- <button *ngIf="defaultImage[0]" class="delete-button" (click)="clear()">x</button> -->
          <ion-button size="small" color="danger" 
              *ngIf="defaultImage[0]" class="delete-button" (click)="clear()">X</ion-button>
        </div>
      </ion-col>
      <!-- <ion-col offset="2" size="5">
        <div (click)="showGetImg()" class="div-img">
          <span *ngIf="!defaultImage[0]">+</span>
          <img *ngIf="defaultImage[0]" class="item-image" [src]="defaultImage[0]">
        </div>
      </ion-col>
      <ion-col size="5">
        <div (click)="showGetImg()" class="div-img">
          <span *ngIf="!defaultImage[1]">+</span>
          <img *ngIf="defaultImage[1]" class="item-image" [src]="defaultImage[1]">
        </div>
      </ion-col>
      <ion-col size="5">
        <div (click)="showGetImg()" class="div-img">
          <span *ngIf="!defaultImage[2]">+</span>
          <img *ngIf="defaultImage[2]" class="item-image" [src]="defaultImage[2]">
        </div>
      </ion-col>
      <ion-col size="5">
        <div (click)="showGetImg()" class="div-img">
          <span *ngIf="!defaultImage[3]">+</span>
          <img *ngIf="defaultImage[3]" class="item-image" [src]="defaultImage[3]">
        </div>
      </ion-col> -->
  </ion-row>

  <ion-row *ngIf="isAdd">
    <ion-col offset="4" size="16">
      <ion-button expand="block" (click)="addHelp()">ĐỒNG Ý</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!isAdd">
    <ion-col offset="4" size="16">
      <ion-button expand="block" (click)="addHelp()">ĐỒNG Ý</ion-button>
    </ion-col>
  </ion-row>
</ion-content>