.p-name{
  font-weight: bold;
  font-size: 16px;
text-align: justify;
text-justify: inter-word;  
}
.p-job{
  margin-top: -10px;
  font-size: 13px;
text-align: justify;
  text-justify: inter-word;  
  color: rgba($color: #003d55, $alpha: 0.75)
}
.p-note{
  font-size: 15px;
text-align: justify;
  text-justify: inter-word;  
}

.row-header{
  background-color: rgba(63, 63, 63, 0.2);
  border-bottom: 0.5px solid rgba(154, 222, 253, 0.5);
  border-top: 0.5px solid rgba(154, 222, 253, 0.5);
  ion-col{
      margin: 5px;
      font-size: 0.95em;
  }
  .p-status{
    margin: 0px;
    color: var(--ion-color-primary);
    opacity: 0.2;
    font-weight: bold;
    &.selected{
      color: var(--ion-color-primary);
      opacity: 1;
    }
  }
}

.label-input{
  flex: 0 0 20px; 
  width: 20px; 
  min-width: 20px;
}
.row-text{
  .text-desc{
      --padding-start: 5px;
      --padding-top: 5px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      height: 150px;
      font-size: 0.9em;
      .native-textarea.sc-ion-textarea-md{
        height: 140px;
      }
      .text-count{
          position: absolute;
          bottom: 0px;
          right: 5px;
          font-size: 0.8em;
          color: rgba(0, 0, 0, 0.5)
      }
  }    
}
.row-note{
  font-size: 0.9em;
  color: var(--ion-color-dark);
}
.div-img{
  
  height: 175px; 
  width: 100%;
  margin: auto; 
  border: 1px dotted; 
  text-align: center; 
  line-height: 175px; 
  font-size: 1.5em;
  img{
    // max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .delete-button {
    position: absolute;
    top: 5px;
    right: 6px;
  }
}