
.row-info{
  position: absolute;
  bottom: 5%;
  width: 99%;
  .p-name{
    margin: -5px 5px 5px 5px;
    font-size:1.1em;
    font-weight: bold;
    color: black;
  }
  .p-desc{
    margin: 0px;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.5);
  }
}

  .img-category{
    height: auto;
    width: 120px;
    object-fit: contain;
    margin: auto;
    margin-top: 5%;
  }

  .card-category{
    border-radius: 20px;
    -webkit-box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, 0.15); 
    box-shadow:  3px 3px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
    
    text-align: center;
    margin: 0 0 0 0;
    min-height: 180px;
  }

  .col-category{
    padding: 10px;
  }

  .content-main{
    --ion-background-color: rgb(231, 230, 230);
  }
