<ion-header>
  <ion-toolbar color="success" >
    <!-- <ion-buttons slot="primary" >
      <ion-button (click)="showSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Chủ đề</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="offlineMode != 0">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <p style="margin: 5px;"><b>{{text_noconnection}}</b></p>
      <ion-button (click)="tryAgain()" *ngIf="offlineMode == 2">Thử lại</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="offlineMode == 0" class="content-main">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngFor="let c of categories" class="col-category">
        <ion-card  class="card-category" (click)="showCategoryPost(c.cid)">
          <img class="img-category" src={{c.category_image}}/>
          <ion-row class="row-info">
            <ion-col>
              <p class="p-name">{{c.category_name}}</p>
              <p class="p-desc">{{c.post_count}} bài viết</p>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
