<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="primary">
      <ion-button (click)="showSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Hỏi – Đáp</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab" class="segment-header">
    <ion-segment-button class="segment-header-button" value="1">
      <ion-label>Hỏi đáp</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment-header-button" value="2">
      <ion-label>Câu hỏi của Tôi</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ion-grid style="height: 100%" *ngIf="offlineMode != 0">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
        <p style="margin: 5px;"><b>{{text_noconnection}}</b></p>
        <ion-button (click)="tryAgain()" *ngIf="offlineMode == 2">Thử lại</ion-button>
      </ion-row>
    </ion-grid>

    <div *ngIf="offlineMode == 0">
      <ion-grid class="item-post" *ngFor="let answer of answers" (click)="showAnswerDetail(answer)">
        <ion-row>
          <!-- <ion-col size="7" class="col-img">
              <img src={{answer.image}} class="thumb-image">
            </ion-col> -->
          <ion-col size="24" style="height: 85px">
            <ion-row>
              <ion-col size="24" class="col-content col-title">
                <p style="margin: 0px;"><b>{{answer.title}}</b></p>
              </ion-col>
            </ion-row>
            <ion-row style="position: absolute; bottom: 5%; width: 99%;">
              <ion-col offset="0.25" size="1.5" style="margin: -2px 0px 0px 0px">
                <ion-icon name="time"></ion-icon>
              </ion-col>
              <ion-col size="10.25" class="ion-text-left col-content col-time">
                <p style="margin: 0px"><i>{{answer.date}}</i></p>
              </ion-col>
              <ion-col size="11" class="ion-text-right col-content col-time">
                <p style="margin: 0px"><i>{{answer.display_name}}</i></p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col offset="0.5" size="23" class="under-line"></ion-col>
        </ion-row>
      </ion-grid>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </div>

  <div *ngSwitchCase="2" style="height: 100%;">

    <span *ngIf="global.isLogin">
      <ion-grid class="item-post" *ngFor="let answer of answer_user" (click)="showAnswerDetail(answer)">
        <ion-row>
          <!-- <ion-col size="7" class="col-img">
              <img src={{answer.image}} class="thumb-image">
            </ion-col> -->
          <ion-col size="24" style="height: 85px">
            <ion-row>
              <ion-col size="24" class="col-content col-title">
                <p style="margin: 0px;"><b>{{answer.title}}</b></p>
              </ion-col>
            </ion-row>
            <ion-row style="position: absolute; bottom: 5%; width: 99%;">
              <ion-col offset="0.25" size="1.5" style="margin: -2px 0px 0px 0px">
                <ion-icon name="time"></ion-icon>
              </ion-col>
              <ion-col size="10.25" class="ion-text-left col-content col-time">
                <p style="margin: 0px"><i>{{answer.date}}</i></p>
              </ion-col>
              <ion-col size="11" class="ion-text-right col-content col-time">
                <p style="margin: 0px"><i>{{answer.display_name}}</i></p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col offset="0.5" size="23" class="under-line"></ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid style="height: 100%" *ngIf="offlineMode1 != 0">
        <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
          <p style="margin: 5px;"><b>{{text_noconnection1}}</b></p>
          <ion-button (click)="tryAgain()" *ngIf="offlineMode1 == 2">Thử lại</ion-button>
        </ion-row>
      </ion-grid>

      <ion-infinite-scroll (ionInfinite)="doInfinite2($event)" *ngIf="offlineMode == 0">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </span>

    <ion-grid style="height: 100%" *ngIf="!global.isLogin">
      <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
        <p><b>ĐĂNG NHẬP ĐỂ XEM CÂU HỎI CỦA TÔI</b></p>
        <ion-button (click)="showLogin()">ĐĂNG NHẬP</ion-button>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>

<ion-footer [ngSwitch]="tab">
  <div *ngSwitchCase="2">
    <ion-fab vertical="bottom" horizontal="end" *ngIf="global.isLogin">
      <ion-fab-button color="success" (click)="showHelpAdd()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-footer>