.item-post {
  .col-img {
    .thumb-image {
      width: 100%;
      height: 75px;
      padding-left: 2px;
    }

    .video-image {
      position: absolute;
      height: 30px;
      width: 22px;
      top: 5px;
      left: 8px;
    }
  }
  .col-content {
    text-align: justify;
    text-justify: inter-word;
    &.col-title {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-desc {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-time {
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.95);
      &.col-number {
        margin-left: -5px;
      }
      &.col-icon {
      }
    }
  }
}

.under-line {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}

.segment-header {
  
  .segment-header-button{
    width: 50%;
  }
  &.sc-ion-segment-ios-h{
    margin:0px;
    height: 50px;
    .segment-header-button{
      border-width: 0px;
      border-radius: 0px;
      color: rgba(0, 0, 0, 0.5);
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase;

      &.segment-button-checked{
        color: rgba($color: #008000, $alpha: 1.0);
        background-color: white;
        height: 99%;
        border-bottom: 1px solid #008000;
      }
    }
  }
}