<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class='bg' [ngStyle]="{'background-color': 'primary'}">
    
  </div>
  <div class='main-cnt'>
  <ion-card>  
      <form #form="ngForm" (ngSubmit)="forgotpassword(form)" novalidate mode="ios">
      <ion-item lines="none">
        <ion-label>
          <h1 class="title_news_detail"><b>QUÊN MẬT KHẨU</b></h1>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-input name="username" type="text" placeholder="Email/Số điện thoại" ngModel required></ion-input>
      </ion-item>
      <div padding>
        Email/Số điện thoại mà bạn sử dụng khi đăng ký tài khoản
      </div>
      <div>
          <ion-button  expand="block" type="submit" expand="block" [disabled]="form.invalid">QUÊN MẬT KHẨU</ion-button>
      </div></form>
  </ion-card>
  </div>
  

  
</ion-content>
