.bg {
  background-color: "success";
  height: 100px;
  background-size: cover;
  background-position: center center;
}
.main-cnt {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 50px;
}

.title_news_detail {
  font: 700 1rem arial;
  line-height: 1.313;
  color: "success";
  text-align: center;
}

.margin_default {
  margin: 0px;
}

ion-footer {
  padding: 0px;
}
ion-content {
  --force-overscroll: true;
}
ion-card {
  --ion-background-color: white;
}
