<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{data.type == 0 ? 'Cần Mua' : 'Cần Bán'}}</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="editMarketItem()" *ngIf="isMe">
        <ion-icon slot="icon-only" name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="row-header">
    <ion-col>
      THÔNG TIN SẢN PHẨM
    </ion-col>
  </ion-row>
  <ion-row class="row-note">
    <!-- <ion-col size="3" class="ion-text-center">
        <ion-icon style="color: red;" name="information-circle"></ion-icon>
      </ion-col> -->
    <ion-col offset="0.75" size="22.5" class="ion-text-left">
      <p class="p-note p-title">
        {{data.title}}
      </p>
      <p class="p-note">
        Giá cả: <b>
          <font color="red" size="3">{{data.priceN}}</font>
        </b>
      </p>
    </ion-col>
    <ion-col offset="0.5" size="2" class="ion-text-center">
      <ion-icon name="contact" mode="ios" color="danger"></ion-icon>
    </ion-col>
    <ion-col size="21" class="ion-text-left">
      <p class="p-note">
        {{data.full_name || 'Ẩn danh'}}
      </p>
    </ion-col>
    <ion-col *ngIf="data.contact != null" offset="0.5" size="2" class="ion-text-center">
      <ion-icon name="call" mode="ios" color="secondary"></ion-icon>
    </ion-col>
    <ion-col *ngIf="data.contact != null" size="21" class="ion-text-left">
      <p class="p-note">
        {{data.contact}}
      </p>
    </ion-col>
    <ion-col offset="0.5" size="2" class="ion-text-center">
      <ion-icon name="pin" mode="ios" color="danger"></ion-icon>
    </ion-col>
    <ion-col size="21" class="ion-text-left">
      <p class="p-note">
        {{data.province_name}}
      </p>
    </ion-col>
    <ion-col offset="0.5" size="2" class="ion-text-center">
      <ion-icon name="time" mode="md"></ion-icon>
    </ion-col>
    <ion-col size="21" class="ion-text-left">
      <p class="p-note">
        {{data.date}}
      </p>
    </ion-col>
    <!-- <ion-col size="3" class="ion-text-center">
        <ion-icon class="p-note icon-note" name="cart"></ion-icon>
      </ion-col>
      <ion-col size="20" class="ion-text-left">
        <p class="p-note">
            {{data.status==0 ? 'Chờ duyệt' : data.status==1 ? 'Còn hàng' : 'Ngừng bán'}}
        </p>
      </ion-col> -->
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      HÌNH ẢNH SẢN PHẨM
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="0.5" size="23">
      <img style="width: 50%;margin-left: 25%;" [src]="data.image" (click)="photoClick(data.image, data.title)">
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      MÔ TẢ SẢN PHẨM
    </ion-col>
  </ion-row>

  <ion-row class="row-note">
    <!-- <ion-col offset="0.5" size="23" class="ion-text-left">
      <p class="p-note">
          - Giá cả: <b><font color="red" size="4">{{data.price || 'Liên hệ'}}</font></b>
      </p>
    </ion-col> -->
    <ion-col offset="0.5" size="23" class="ion-text-left">
      <p class="p-note">
        {{data.content}}
      </p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="1" size="11">
      <ion-button expand="block" *ngIf="isMe" (click)="editMarketItem()">Sửa sản phẩm</ion-button>
    </ion-col>
    <ion-col size="11">
      <ion-button expand="block" *ngIf="isMe" (click)="showAlertDelete()" color="danger">Xóa sản phẩm</ion-button>
    </ion-col>
  </ion-row>
</ion-content>