<ion-header>
  <ion-toolbar color="success">
    <div class = "ion-header">
      <div [class]="isLogin ? 'div-tittle-center div-login' : 'div-tittle-center div-notlogin'" (click)="showSearch()">   
        <ion-icon name="search"></ion-icon>
        <ion-input readonly placeholder="Tìm kiếm video"></ion-input>
      </div>
      <div *ngIf="isLogin" class="div-tittle-right" (click)="showAdd(null)">   
        <ion-icon name="videocam"></ion-icon>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-suggest" slot="fixed" *ngIf="searchValue.length == 0 && inforButton && inforButton.length > 0">
    <ion-row>
      <ion-col style="background-color: white;" [size]="24 / inforButton.length" *ngFor="let item of inforButton; let i = index">
        <ion-button expand="full" shape="round" [fill]="currentInfoBtnValue == item.value ? 'solid' : 'outline'" (click)="btnTabClick(item)">{{item.text}}</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <ion-grid class = "grid">
    <div style="margin-top: 35px;" *ngIf="searchValue.length == 0"></div>
    <div class="div-content">
      <ion-row *ngFor="let post of posts; let i = index" class="row-post">
        <ion-col size="24" class="col-video" *ngIf="post.isYoutube" (click)="showDetail(post)">
          <!-- <div class="over" (click)="onVideoPlay(post.video_url)" *ngIf="!post.isPlay"></div>
          <iframe id="{{post.video_url}}" *ngIf="post.video_url != null" frameborder="0"
            allow="encrypted-media" allowfullscreen [src]="post.video_url | safe: 'resourceUrl'">
          </iframe> -->
          <img src={{post.news_image}} class="thumb-image" (error)="handleImgError($event, post)">
          <img src="../../assets/youtube.png" class="video-image">
        </ion-col>
        <ion-col size="24" class="col-video has-background" *ngIf="!post.isYoutube" (click)="showDetail(post)">
          <!-- <video *ngIf="post.video_url" id="demoVideo" height="100%" preload webkit-playsinline playsinline
            loop controls>
            <source [src]="post.video_url">
          </video> -->
          <img src={{post.category_image}} class="thumb-image" (error)="handleImgCategoryError($event, post)">
          <img src="../../assets/youtube.png" class="video-image">
        </ion-col>
        <ion-col *ngIf="currentInfoBtnValue != 3" size="3" class="col-header col-avatar">
          <img src="../../assets/logotext-128x128.png">
        </ion-col>
        <ion-col [size]="currentInfoBtnValue != 3 ? 21 : 24" class="col-header col-title"
                (click)="showDetail(post)">
          <div class="col-div-title"><b>{{post.title}}</b></div>
          <div *ngIf="post.summary && post.summary.length > 0" class="col-div-desc">{{post.summary}}</div>
        </ion-col>
        <ion-col class="col-footer" [offset]="currentInfoBtnValue != 3 ? 3 : 0" size="13">
          <div>{{post.date}}</div>
        </ion-col>
        <ion-col class="col-footer" size="1">
          <ion-icon name="eye"></ion-icon>
        </ion-col>
        <ion-col class="col-footer" size="3">
          <div>{{post.counter_view}}</div>
        </ion-col>
        <ion-col class="col-footer" size="1">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-col>
        <ion-col class="col-footer" size="3">
          <div>{{post.comments_count}}</div>
        </ion-col>
        <ion-col class="col-footer" size="1.5" *ngIf="currentInfoBtnValue == 3"
          (click)="showAdd(post)">
          <ion-icon name="settings"></ion-icon>
        </ion-col>
        <ion-col class="col-footer" size="1.5" *ngIf="currentInfoBtnValue == 3"
          (click)="presentAlertConfirmDelete(post)">
          <ion-icon name="trash"></ion-icon>
        </ion-col>
        <ion-col size="24">
          <div style="border-top: 0.2px solid #8b8b8b"></div>
        </ion-col>
      </ion-row>
      
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </div>
  </ion-grid>

</ion-content>