.ion-header {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  display: flex;
  position: relative;

  .div-tittle-center {
      border: 1px solid white;
      border-radius: 25px;
      height: 85%;
      &.div-notlogin{
        width: 95%;
      }
      &.div-login{
        width: 85%;
      }
      display: flex;
      align-items: center;
      position: absolute;
      top:2px;
      left: 2.5%;
      ion-input {
          width: 70%;
          font-size: 14px;
      }
      ion-icon {
          width: 25px;
          height: 25px;
          margin-left: 10px;
      }
  }
  .div-tittle-right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top:2px;
    right: 5px;

    width: 10%;
    height: 90%;
    ion-icon {
        width: 40px;
        height: 40px;
    }
  }
}
.div-suggest{
  ion-button{
    margin-left: 0px;
    margin-right: 0px;
    height: 25px;
    font-size: 11px !important;
    --border-width: 1px;
  }
}
.grid {
  .div-content{
    .row-post{
      .col-video{
        &.has-background{
          background-color: black;
          padding: 0px;
        }
        height: 220px;
        .over {
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          background-color: white; /* for unknow reason is color important for IE*/
          opacity: 0;
          filter: alpha(opacity=0);
        }
        iframe {
          height: 220px;
          width: 100%;
        }
        video {
          height: 220px;
          width: 100%;
        }
        .thumb-image{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
        .video-image{
          position: absolute;
          height: 70px;
          width: 70px;
          top: calc(50% - 35px);
          left: calc(50% - 35px);
        }
      }
      .col-header{
        margin-top: 10px;
        &.col-avatar{
          img{
            border-radius: 50%;
          }
        }
      }
      .col-footer{
        color: #8b8b8b;
        font-size: 13px;
      }
      .col-footer-right{
        color: #8b8b8b;
        font-size: 13px;
        text-align: right;
      }
    }
    .col-div-desc{
      font-size: 13px;
    }
  }
}