

:host ion-content{
    .row-child{
        .col-left{
            text-align: left;
            img{
                height: 35px;
                width: 35px;
                border-radius: 50%;
                object-fit: cover; 
            }
            .div{
                line-height: 40px;
                font-size: 20px;
            }
        }
        .col-center{
            .div{
                font-size: 0.9em;
                line-height: 35px;
                font-size: 18px;
            }
        }
        .col-right{
            text-align: right;
            .div{
                line-height: 40px;
                font-size: 20px;
            }
        }
    }
}