<ion-header *ngIf="hasSearchBar">
  <ion-toolbar>
    <ion-searchbar showCancelButton="never" placeholder="{{placeholder}}" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngIf="!hasSearchBar">
    <ion-col></ion-col>
  </ion-row>
  <ion-row class="row-child" *ngFor="let item of allFilterItems; let i = index" (click)="select(item)">
    <ion-col *ngIf="item.image && item.image != ''" size="3" offset="1" class="col-left">
      <img src={{item.image}}>
    </ion-col>
    <ion-col *ngIf="item.selectAtStart" size="3" offset="1" class="col-left">
      <div class="div">      
        <ion-icon name="radio-button-off" *ngIf="!item.selected"></ion-icon>
        <ion-icon name="radio-button-on" *ngIf="item.selected"></ion-icon>
      </div>
    </ion-col>
    <ion-col *ngIf="item.image != ''" [offset]="item.image || item.selectAtStart ? 0 : 3" size="15" class="col-center">
      <div class="div">{{item.name}}</div>
    </ion-col>
    <ion-col *ngIf="item.image == ''" size="18" offset="1" class="col-center">
      <div class="div">{{item.name}}</div>
    </ion-col>
    <ion-col size="4" class="col-right" *ngIf="!item.selectAtStart">
      <div class="div">      
        <ion-icon name="radio-button-off" *ngIf="!item.selected"></ion-icon>
        <ion-icon name="radio-button-on" *ngIf="item.selected"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
