

.row-post{
  &.no-youtube{    
    margin: 5px 5px 0px 5px;
  }
    .col-video{
      &.has-background{
        background-color: black;
        padding: 0px;
      }
      height: 220px;
      .over {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: white; /* for unknow reason is color important for IE*/
        opacity: 0;
        filter: alpha(opacity=0);
      }
      iframe {
        height: 220px;
        width: 100%;
      }
      video {
        height: 220px;
        width: 100%;
      }
    }
    .col-header{
        margin-top: 10px;
        &.col-avatar{
        img{
            border-radius: 50%;
        }
        }
    }
    .col-footer{
        color: #8b8b8b;
        font-size: 13px;
    }
    
    .col-div-desc{
      font-size: 13px;
    }
}
.row-item {
    margin-top: 10px;
    margin-bottom: 10px;
    img {
      width: 45px;
      height: 45px;
      margin: auto;
      display: block;
      border-radius: 50%;
    }
    .col-comment {
      background: rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }
    .p-content {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 0.9em;
    }
    .p-time {
      margin: 0px;
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.5);
    }
    .p-name {
      margin: 0px;
      font-size: 0.9em;
    }
  }
ion-footer {
    padding: 0px;
}