<ion-header>
  <ion-toolbar color="success">
    <ion-row>
      <ion-col size="5" style="margin-top: 3px" (click)="close()">Quay lại</ion-col>
      <ion-col size="14" class="ion-text-center">   
        <ion-title>Video</ion-title>
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row [class]="post.isYoutube ? 'row-post' : 'row-post no-youtube'">
    <ion-col size="24" class="col-video" *ngIf="post.isYoutube">
      <!-- <div class="over" (click)="onVideoPlay(post.video_url)" *ngIf="!post.isPlay"></div> -->
      <iframe id="{{post.video_url}}" *ngIf="post.video_url != null" frameborder="0"
        allow="encrypted-media" allowfullscreen [src]="post.video_url | safe: 'resourceUrl'">
      </iframe>
    </ion-col>
    <ion-col size="24" class="col-video has-background" *ngIf="!post.isYoutube">
      <video *ngIf="post.video_url" id="demoVideo" height="100%" preload webkit-playsinline playsinline
        loop controls>
        <source [src]="post.video_url">
      </video>
    </ion-col>
    <ion-col size="3" class="col-header col-avatar">
      <img src="../../assets/logotext-128x128.png">
    </ion-col>
    <ion-col size="21" class="col-header col-title">
      <div class="col-div-title"><b>{{post.title}}</b></div>
      <div *ngIf="post.summary && post.summary.length > 0" class="col-div-desc">{{post.summary}}</div>
    </ion-col>
    <ion-col class="col-footer" offset="3" size="8.5">
      <div>{{post.date}}</div>
    </ion-col>
    <ion-col offset="4" class="col-footer" size="1">
      <ion-icon name="eye"></ion-icon>
    </ion-col>
    <ion-col class="col-footer" size="3.5">
      <div>{{post.counter_view}}</div>
    </ion-col>
    <ion-col class="col-footer" size="1">
      <ion-icon name="chatbubbles"></ion-icon>
    </ion-col>
    <ion-col class="col-footer" size="2.5">
      <div>{{post.comments_count}}</div>
    </ion-col>
    <ion-col size="24">
      <div style="border-top: 0.2px solid #8b8b8b"></div>
    </ion-col>
  </ion-row>
  <ion-row class="row-item" id="newest-item" *ngFor="let comment of comments">
    <ion-col size="5">
      <img src={{comment.avatar}} (error)="handleImgCommentError($event, comment)">
    </ion-col>
    <ion-col size="18" class="col-comment">
      <div>
        <p class="p-name"><b>{{comment.full_name}}</b></p>
        <p class="p-content">{{comment.message}}</p>
        <p class="p-time">{{comment.date}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer padding>
  <ion-toolbar>
    <ion-row class="row-note" *ngIf="isLogin">

      <ion-col offset="1" size="19" align-self-center id="input-desc">
        <ion-input type="text" placeholder="Nhập bình luận..." [(ngModel)]="comment" name="comment"></ion-input>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-button ion-button fill="clear" (click)="send()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="row-note" *ngIf="!isLogin">

      <ion-col offset="1" size="19" align-self-center id="input-desc">
        <div style="opacity: 0.5;">Hãy đăng nhập trước khi bình luận.</div>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-button ion-button fill="clear" style="opacity: 0.5;">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
