<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="primary">
      <ion-button (click)="showSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chợ nông sản</ion-title>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab" class="segment-header">
    <ion-segment-button class="segment-header-button" value="1">
      <ion-label>Mua - bán</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment-header-button" value="2">
      <ion-label>Danh mục</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content *ngIf="offlineMode != 0">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <p style="margin: 5px;"><b>{{text_noconnection}}</b></p>
      <ion-button (click)="tryAgain()" *ngIf="offlineMode == 2">Thử lại</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="offlineMode == 0" class="content-main" [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ion-grid *ngIf="market_items.length <= 0">
      <ion-row>
        <ion-col class="ion-text-center" size="24">
          <p>HIỆN TẠI CHƯA CÓ SẢN PHẨM.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="item-post" *ngFor="let market_item of market_items"
      (click)="showPostDetail(market_item.market_id)">
      <ion-row>
        <ion-col size="7" class="col-img">
          <img src={{market_item.image}} class="thumb-image">
        </ion-col>
        <ion-col size="17">
          <ion-row>
            <ion-col size="24" class="col-content col-title">
              <p style="margin: 0px;"><b><a [ngStyle]="{'color': market_item.color}">[{{market_item.type == 0 ? 'Cần Mua' : 'Cần Bán' }}]</a> {{market_item.title_short}}</b></p>
            </ion-col>
          </ion-row>
          <ion-row style="position: absolute; bottom: 5%; width: 90%;">
            <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
              <p style="margin: 0px">{{market_item.status==0 ? 'Chờ duyệt' : market_item.status==1 ? 'Còn hàng' : 'Ngừng bán'}}</p>
              <p style="margin: 0px">{{market_item.date}} bởi <b>{{market_item.full_name || 'Ẩn danh'}}</b></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngSwitchCase="2" category-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" *ngFor="let market_type of market_types" class="col-category">
          <ion-card class="card-category" (click)="showCategoryPost(market_type)">
            <img class="img-category" src={{market_type.market_category_image}}>
            <ion-row>
              <ion-col>
                <p class="p-name">{{market_type.name}}</p>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="offlineMode == 0 && tab == 1">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <div *ngIf="global.isLogin">
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button color="success" (click)="showCategoryPost(myCategory)">
        <ion-icon name="list"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-footer>