ion-card {
  position: relative;
  text-align: center;
  margin: 0 0 0 0;
  height: 100%;
}

.p-name {
  margin: 5px 5px 5px 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.p-desc {
  margin: 0px;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.5);
}

.img-category {
  height: 100px;
  width: auto;
  margin: auto;
  margin-top: 10px;
}

.card-category {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.col-category {
  padding: 10px;
}

.item-post {
  .col-img {
    .thumb-image {
      width: 100%;
      height: 85px;
      padding-left: 2px;
      object-fit: cover;
    }

    .video-image {
      position: absolute;
      height: 30px;
      width: 22px;
      top: 5px;
      left: 8px;
    }
  }
  .col-content {
    text-align: justify;
    text-justify: inter-word;
    &.col-title {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-desc {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-time {
      font-size: 0.75em;
      color: rgba(0, 0, 0, 0.75);
      &.col-number {
        margin-left: -5px;
      }
    }
  }
}

.under-line {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}

.segment-header {
  .segment-header-button {
    width: 50%;
  }
  &.sc-ion-segment-ios-h {
    margin: 0px;
    height: 50px;
    .segment-header-button {
      border-width: 0px;
      border-radius: 0px;
      color: rgb(128, 127, 127);
      font-size: 0.9em;
      font-weight: bold;
      text-transform: uppercase;

      &.segment-button-checked {
        color: rgba($color: #008000, $alpha: 1);
        background-color: white;
        height: 99%;
        border-bottom: 1px solid #008000;
      }
    }
  }
}

