<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button  tab="home" class="tab-style">
      <ion-icon size="small" name="home"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="video" class="tab-style">
      <ion-icon size="small" name="play-circle"></ion-icon>
      <ion-label>Video</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="market" class="tab-style">
      <ion-icon size="small" name="briefcase"></ion-icon>
      <ion-label>Chợ</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="help" class="tab-style">
      <ion-icon size="small" name="list-box"></ion-icon>
      <ion-label>Hỏi đáp</ion-label>
    </ion-tab-button>

    <ion-tab-button  tab="category" class="tab-style">
      <ion-icon size="small" name="notifications"></ion-icon>
      <ion-label>Thông báo</ion-label>
    </ion-tab-button>
    
    <ion-tab-button  tab="settings" class="tab-style">
      <ion-icon size="small" name="settings"></ion-icon>
      <ion-label>Thiết lập</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
