.row-post{
  .col-video{
    margin-left: 3%;
    margin-top: 3%;
    height: 220px;
    .div-add-video{
      height: 100%;
      width: 94%;
      border: 1px dashed rgba(0, 0, 0, 0.5);
      .div-upload-icon{
        text-align: center;
        justify-content: center;
        line-height: 220px;
        color: #008000;
        font-size: 80px;
      }
    }
    iframe {
      height: 220px;
      width: 94%;
    }
    
    video {
      height: 220px;
      width: 100%;
    }
  }
  .col-header{
      margin-top: 10px;
      &.col-avatar{
      img{
          border-radius: 50%;
      }
      }
  }
  .col-footer{
      color: #8b8b8b;
      font-size: 13px;
  }
}
.row-item {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 45px;
    height: 45px;
    margin: auto;
    display: block;
    border-radius: 50%;
  }
  .col-comment {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .p-content {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  .p-time {
    margin: 0px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }
  .p-name {
    margin: 0px;
    font-size: 0.9em;
  }
}
.row-header{
  margin-left: 3%;
  ion-col{
      margin-top: 5px;
      margin-bottom: -10px;
      font-size: 1.1em;
      color: #008000;
  }
}
.row-text{
  margin-left: 3%;
  width: 94%;
  .div-category{
    margin-top: 7px;
    height: 40px;
    font-size: 0.8em;
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    .col-placeholder{
      justify-content: center;
      line-height: 30px;
      color: rgba(0, 0, 0, 0.5)
    }
    .col-content{
      justify-content: center;
      line-height: 30px;
    }
    .col-icon{
      justify-content: center;
      line-height: 35px;
    }
  }
  .text-area{
    --padding-start: 5px;
    --padding-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    &.text-title{
      height: 75px;
      .native-textarea.sc-ion-textarea-md{
        height: 70px;
      }
    }
    &.text-desc{
      height: 150px;
      .native-textarea.sc-ion-textarea-md{
        height: 140px;
      }
    }
  }    
  .text-count{
      position: absolute;
      bottom: 0px;
      right: 5px;
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.5)
  }
}


ion-footer {
  padding: 0px;
}