<ion-header>
  <ion-toolbar color="success">
    <ion-row>
      <ion-col size="5" (click)="close(false)">Quay lại</ion-col>
      <ion-col size="14" class="ion-text-center">   
        <div *ngIf="!isEdit" style="font-size: 17px;">ĐĂNG VIDEO</div>
        <div *ngIf="isEdit" style="font-size: 17px;">SỬA VIDEO</div>
      </ion-col>
      <ion-col size="5" class="ion-text-end"(click)="addVideo()">Xong</ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="row-post">
    <ion-col size="24" class="col-video">
      <div *ngIf="!post || post.video_url.length == 0" 
        class="div-add-video" (click)="showActionSheet()">       
        <div class="div-upload-icon">
          <ion-icon name="cloud-upload"></ion-icon>
        </div>
      </div>
      <iframe *ngIf="!isEdit && post && post.video_url.length > 0" frameborder="0"
        allow="encrypted-media" allowfullscreen [src]="post.video_url | safe: 'resourceUrl'">
      </iframe>
      <video *ngIf="isEdit && post && post.video_url.length > 0" id="demoVideo" height="100%" preload webkit-playsinline playsinline
        loop controls>
        <source [src]="post.video_url">
      </video>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      Chủ đề Video
    </ion-col>
  </ion-row>
  <ion-row class="row-text">
    <ion-col size="24">
      <div class="div-category" (click)="showMenu()">
        <ion-row>
          <ion-col *ngIf="!post.category_name || post.category_name.length == 0" offset="0.15" size="21.85" class="col-placeholder">
            <div>Chọn chủ đề</div>
          </ion-col>
          <ion-col *ngIf="post.category_name && post.category_name.length > 0" offset="0.15" size="21.85" class="col-content">
            <div>{{post.category_name}}</div>
          </ion-col>
          <ion-col size="2" class="col-icon">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      Vị trí
    </ion-col>
  </ion-row>
  <ion-row class="row-text">
    <ion-col size="24">
      <div class="div-category" (click)="onSelectProvince()">
        <ion-row>
          <ion-col *ngIf="!post.province_name || post.province_name.length == 0" offset="0.15" size="21.85" class="col-placeholder">
            <div>Chọn vị trí</div>
          </ion-col>
          <ion-col *ngIf="post.province_name && post.province_name.length > 0" offset="0.15" size="21.85" class="col-content">
            <div>{{post.province_name}}</div>
          </ion-col>
          <ion-col size="2" class="col-icon">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      Tiêu đề Video
    </ion-col>
  </ion-row>
  <ion-row class="row-text">
    <ion-col size="24">
      <ion-textarea class="text-area text-title" placeholder="Hãy nhập tiêu đề của Video..."
            maxlength="100" rows="3" [(ngModel)]="post.title">
        <div class="text-count"> {{ 100 - post.title.length }}/100</div>
      </ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      Nội dung Video
    </ion-col>
  </ion-row>
  <ion-row class="row-text">
    <ion-col size="24">
      <ion-textarea class="text-area text-desc" placeholder="Hãy nhập nội dung của Video..."
            maxlength="400" rows="6" [(ngModel)]="post.summary">
        <div class="text-count"> {{400 - post.summary.length}}/400</div>
      </ion-textarea>
    </ion-col>
  </ion-row>
</ion-content>