<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div class='bg' [ngStyle]="{'background-color': 'primary'}">
    
  </div>
  <div class='main-cnt'>
  <ion-card>  
      <form #form="ngForm" (ngSubmit)="register(form)" novalidate mode="ios">
        <ion-item lines="none">
          <ion-label>
            <h1 class="title_news_detail"><b>ĐĂNG KÝ</b></h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="email" type="text" placeholder="Email" ngModel required pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="phone" type="text" placeholder="Số điện thoại" ngModel required minlength="10"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="display_name" type="text" placeholder="Tên hiển thị" ngModel required minlength="3"></ion-input>
        </ion-item> 
        <ion-item>
          <ion-input name="password" type="{{passwordType}}" placeholder="Mật khẩu" ngModel required minlength="5"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="confirmPassword" type="{{passwordType}}" placeholder="Nhập lại mật khẩu" ngModel required minlength="5"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-input name="address" type="text" placeholder="Địa chỉ" ngModel required minlength="5"></ion-input>
        </ion-item> -->
        
        <!-- <ion-list radio-group (ionChange)="onChangeGender($event)">
          <ion-radio-group>
            <ion-list-header>
              <ion-label>Giới tính</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Nam</ion-label>
              <ion-radio value="M" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Nữ</ion-label>
              <ion-radio value="F"></ion-radio>
            </ion-item>
        
          </ion-radio-group>
        </ion-list> -->
        <div>
            <ion-button  expand="block" type="submit" expand="block" [disabled]="form.invalid">ĐĂNG KÝ</ion-button>
        </div>
      </form>
      <div padding class="div-text"  >
        Bằng việc click vào các nút <strong>Đăng ký</strong> bạn đã đồng ý <a (click)="getPrivacyPolicy()"><strong>Điều khoản sử dụng</strong></a>
      </div>
        
  </ion-card>
  </div>
  

  
</ion-content>
