.bg {
  background-color: "success";
  height: 100px;
  background-size: cover;
  background-position: center center;
}
.main-cnt {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 50px;
}

.title_news_detail {
  font: 700 1rem arial;
  line-height: 1.313;
  color: "success";
  text-align: center;
}

.margin_default {
  margin: 0px;
}
#row-time {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.75);
}
.div-text {
  text-align: center;
  line-height: 1.6;
}

.row-note {
  font-family: SVN-Regular !important;
  font-size: 20px;
  ion-input,
  ion-textarea {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
  }
  #input-desc {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
  }
  button {
    font-size: 1.2em;
  }
}
.reg_sex {
  color: #333;
  font-size: 16px;
  padding-bottom: 20px;
}
ion-footer {
  padding: 0px;
}
ion-content {
  --force-overscroll: true;
}
ion-card {
  --ion-background-color: white;
}
