<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Chuyên mục</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 10px;"></div>
  <ion-row class="row row-child" 
    *ngFor="let cat of categories"
    (click)="select(cat)">
    <ion-col size="3.75" offset="0.5">
      <div class="div div-img">
        <img [src]="cat.category_image">
      </div>
    </ion-col>
    <ion-col size="15.5">
      <div class="div div-header"><b>{{cat.category_name}}</b></div>
    </ion-col>
    <ion-col offset="2" size="2">
      <div class="div div-icon">
        <ion-icon name="ios-arrow-down"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
