ion-content{
    .row{
        height: 55px;
    }
    .div{
        line-height: 50px;
        font-size: 1em;
        color: #333;
        &.div-img{
            text-align: center;
            img{
                margin-top: 5px;
                height: 45px;
                width: 45px;
                object-fit: fill;

            }
        }
    }
}