<ion-header>
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-button (click)="close()">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
</ion-header>

<ion-content>
    <div class='bg' [ngStyle]="{'background-color': 'primary'}">
      
    </div>
    <div class='main-cnt'>
    <ion-card>  
        <form #form="ngForm" (ngSubmit)="login(form)" novalidate mode="ios">
        <ion-item lines="none">
          <ion-label>
            <h1 class="title_news_detail"><b>ĐĂNG NHẬP</b></h1>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-input name="username" type="text" placeholder="Email/Số điện thoại" ngModel required></ion-input>
        </ion-item>
        <ion-item>
          <ion-input name="password" type="{{passwordType}}" placeholder="Mật khẩu" ngModel required></ion-input>
          <ion-icon name="eye-off" *ngIf="!isShowPassword" (click)="showHidePassword()"></ion-icon>
          <ion-icon name="eye" *ngIf="isShowPassword" (click)="showHidePassword()"></ion-icon>
        </ion-item>
        <div padding [ngStyle]="{'text-align':'right'}" >
          <a (click)="showForgotPassword()">Quên mật khẩu?</a>
        </div>
        <div>
            <ion-button  expand="block" type="submit" expand="block" [disabled]="form.invalid">ĐĂNG NHẬP</ion-button>
        </div>
        <div padding [ngStyle]="{'text-align':'center'}"  >
          Chưa có tài khoản? <a (click)="showRegister()"><b>ĐĂNG KÝ NGAY</b></a>
        </div>
      </form>
    </ion-card>
    </div>
    

    
</ion-content>
