.row-text {
  .text-desc {
    --padding-start: 5px;
    --padding-top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 150px;
    font-size: 0.9em;
    .text-count {
      position: absolute;
      bottom: 0px;
      right: 5px;
      font-size: 0.8em;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}
.row-header {
  background-color: rgba(63, 63, 63, 0.2);
  border-bottom: 0.5px solid rgba(154, 222, 253, 0.5);
  border-top: 0.5px solid rgba(154, 222, 253, 0.5);
  ion-col {
    margin: 5px;
    font-size: 0.95em;
  }
}
.row-note {
  margin-top: 10px;
  font-size: 0.9em;
  color: var(--ion-color-dark);
  ion-icon {
    font-size: 1.5em;
  }
  .col-title{
    margin-left: -2px;
  }
  .p-note {
    margin: -10px 0px 0px 0px;
    text-align: justify;
    text-justify: inter-word;
    &.p-title {
      font-weight: bold;
      font-size: 1.1em;
    }
    &.icon-note {
      color: red;
    }
  }
  .div-note{
    margin-top: -20px;
    text-align: justify;
    text-justify: inter-word;
  }
}
.img-empty {
  height: 60px;
  width: 100%;
  border: 1px dotted;
  text-align: center;
  line-height: 60px;
  font-size: 1.5em;
}

.icon {
  display: inline-block;
  font-size: 35px;
  color: red;
  vertical-align: middle;
}

.text {
  display: inline-block;
  vertical-align: middle;
}

.under-line {
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}