<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{data.cat_name}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- <ion-row class="row-header">
    <ion-col>
      HỎI ĐÁP TRỰC TUYẾN
    </ion-col>
  </ion-row> -->
  <ion-row class="row-note">
    <ion-col size="3" class="ion-text-right">
      <img style="margin-top: -3px" src="../../../assets/icon_question.png">
    </ion-col>
    <ion-col size="21" class="ion-text-left col-title">
      <!-- <ion-icon class="p-note icon-note" name="help"></ion-icon> -->
      <b>{{data.title}}</b>
    </ion-col>
  </ion-row>
  <ion-row class="row-note"  style="margin-top: -3px">
    <ion-col offset="0.25" size="11.5" class="ion-text-left">
      <i style="font-size: 0.9em">Ngày gửi: {{data.date}}</i>
    </ion-col>
    <ion-col size="11.75" class="ion-text-right">
      <i style="font-size: 0.9em">Người gửi: {{data.name || 'Ẩn danh'}}</i>
      <!-- <i style="font-size: 0.9em">Địa chỉ:
        {{data.province_name || 'Toàn quốc'}}</i> -->
    </ion-col>
  </ion-row>
  <ion-row class="row-note">
    <ion-col offset="0.5" size="23" class="ion-text-left" style="margin: 0px">
        <p class="p-note">{{data.question}}</p>
    </ion-col>
  </ion-row> 
  <ion-row *ngIf="data.validAttachment">
    <ion-col offset="0.5" size="23" class="ion-text-center">
      <img style="width: 50%;" 
        [src]="data.attachment" 
        (error)="handleErrorImage($event, data, 'attachment')"
        (click)="photoClick(data.attachment, data.title)">
    </ion-col>
  </ion-row> 
  <ion-row class="row-note">
    <ion-col offset="0.75" size="22.5" class="under-line"></ion-col>
  </ion-row>
  <ion-row class="row-note">
    <ion-col size="3" class="ion-text-right">
      <img style="margin-top: -3px"  src="../../../assets/icon_answer.png">
    </ion-col>
    <ion-col size="21" class="ion-text-left col-title">
      <b>Câu trả lời</b>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="data.answerAttachment != null">
    <ion-col offset="0.5" size="23" class="ion-text-center">
      <img style="width: 50%;" 
        [src]="data.answerAttachment" 
        (error)="handleErrorImage($event, data, 'answerAttachment')"
        (click)="photoClick(data.answerAttachment, data.title)">
    </ion-col>
  </ion-row> 
  <ion-row class="row-note row-nopadding">
    <ion-col offset="0.5" size="23" class="ion-text-left">
      <div class="div-note" innerHTML="{{data.answer}}"></div>
    </ion-col>
  </ion-row>


  <ion-row *ngIf="data.status == 0">
    <ion-col offset="1" size="11">
      <ion-button expand="block" *ngIf="isMe" (click)="editAnswer()">Sửa câu hỏi</ion-button>
    </ion-col>
    <ion-col size="11">
      <ion-button expand="block" *ngIf="isMe" (click)="showAlertDelete()" color="danger">Xóa câu hỏi</ion-button>
    </ion-col>
  </ion-row>
</ion-content>