<ion-header>
  <ion-toolbar color="success">
    <ion-title>{{category_name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment [(ngModel)]="tab" class="segment-header">
    <ion-segment-button class="segment-header-button" value="1">
      <ion-label>Cần mua</ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment-header-button" value="2">
      <ion-label>Cần bán</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [ngSwitch]="tab">
  <div *ngSwitchCase="1">
    <ion-grid *ngIf="market_items_buy.length <= 0">
      <ion-row>
        <ion-col class="ion-text-center" size="24">
          <p>HIỆN TẠI CHƯA CÓ SẢN PHẨM.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="item-post" *ngFor="let market_item of market_items_buy"
      (click)="showPostDetail(market_item.market_id)">
      <ion-row>
        <ion-col size="7" class="col-img">
          <img src={{market_item.image}} class="thumb-image" (error)="handleImgError($event, market_item)">
        </ion-col>
        <ion-col size="17">
          <ion-row>
            <ion-col size="24" class="col-content col-title">
              <p style="margin: 0px;"><b>{{market_item.title_short}}</b></p>
            </ion-col>
          </ion-row>
          <ion-row style="position: absolute; bottom: 5%; width: 90%;">
            <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
              <p style="margin: 0px">{{market_item.status==0 ? 'Chờ duyệt' : market_item.status==1 ? 'Còn hàng' : 'Ngừng bán'}}</p>
              <p style="margin: 0px">{{market_item.date}} bởi <b>{{market_item.full_name || 'Ẩn danh'}}</b></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngSwitchCase="2">
    <ion-grid *ngIf="market_items_sell.length <= 0">
      <ion-row>
        <ion-col class="ion-text-center" size="24">
          <p>HIỆN TẠI CHƯA CÓ SẢN PHẨM.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="item-post" *ngFor="let market_item of market_items_sell"
      (click)="showPostDetail(market_item.market_id)">
      <ion-row>
        <ion-col size="7" class="col-img">
          <img src={{market_item.image}} class="thumb-image" (error)="handleImgError($event, market_item)">
        </ion-col>
        <ion-col size="17">
          <ion-row>
            <ion-col size="24" class="col-content col-title">
              <p style="margin: 0px;"><b>{{market_item.title_short}}</b></p>
            </ion-col>
          </ion-row>
          <ion-row style="position: absolute; bottom: 5%; width: 90%;">
            <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
              <p style="margin: 0px">{{market_item.status==0 ? 'Chờ duyệt' : market_item.status==1 ? 'Còn hàng' : 'Ngừng bán'}}</p>
              <p style="margin: 0px">{{market_item.date}} bởi <b>{{market_item.full_name || 'Ẩn danh'}}</b></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid style="height: 100%" *ngIf="!global.isLogin && currentType==0">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <p><b>ĐĂNG NHẬP ĐỂ XEM NÔNG SẢN CỦA TÔI</b></p>
      <ion-button (click)="showLogin()">ĐĂNG NHẬP</ion-button>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="offlineMode == 0">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <div *ngIf="currentType==0">
    <ion-fab vertical="bottom" horizontal="end" *ngIf="global.isLogin">
      <ion-fab-button color="success" (click)="showMarketAdd()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-footer>