.bg {
  background-image: url("https://steamcdn-a.akamaihd.net/steam/apps/755500/header.jpg?t=1562882662");
  height: 300px;
  background-size: cover;
  background-position: center center;
}
.main-cnt {
  width: 100%;
  height: 300px;
  position: absolute;
  top: 250px;
}
.title_news_detail {
  font: 700 1.25rem arial;
  line-height: 1;
  color: #333;
  margin-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
  &.title_comment{
    font: 700 1.15rem arial;
  }
}

.margin_default {
  margin: 0px;
}

.p-category-name {
  color: var(--ion-color-primary);
  text-decoration: underline;
  font-size: 1.0em;
}

#row-time {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.75);
}
.div-inner-html {
  text-align: justify;
  text-justify: inter-word;
}

.div-video {
  padding-top: 15px;
  height: 220px;
  iframe {
    height: 220px;
    width: 100%;
  }
}

.row-item {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 45px;
    height: 45px;
    margin: auto;
    display: block;
    border-radius: 50%;
  }
  .col-comment {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .p-content {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  .p-time {
    margin: 0px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }
  .p-name {
    margin: 0px;
    font-size: 0.9em;
  }
}


ion-text-left {
  padding-left: 0px;
}

ion-footer {
  padding: 0px;
}

ion-card {
  --ion-background-color: white;
}
