<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class='bg' [ngStyle]="{'background-image': 'url(' + post.news_image + ')'}">
  </div>
  <div class='main-cnt'>
    <ion-card>
      <ion-item lines="none">
        <ion-label>
          <h1 class="title_news_detail" text-wrap><b>{{post.title}}</b></h1>
          <ion-row class="margin_default" (click)="showCategoryPost(post.cat_id)">
            <ion-col size="16" class="ion-text-left" id="col-category" no-padding>
              <p class="p-category-name">
                {{post.category_name}}
              </p>
            </ion-col>
          </ion-row>
          <ion-row class="margin_default" id="row-time">
            <ion-col size="12" class="ion-text-left" style="margin-left: -5px;">
              {{post.date}}
            </ion-col>
            <ion-col offset="6" size="3" class="ion-text-right">
              {{post.comments_count}}
            </ion-col>
            <ion-col class="ion-text-left" style="margin-left: -10px; margin-top: 2px;">
              <ion-icon name="text"></ion-icon>
            </ion-col>
          </ion-row>

          <div text-wrap innerHTML="{{post.news_description}}" class="div-inner-html"></div>
          <div class="div-video" *ngIf="post.video">
            <iframe frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
              [src]="post.video_url | safe: 'resourceUrl'">
            </iframe>
          </div>
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item lines="none">
          <ion-label text-wrap>
            <h1 class="title_news_detail title_comment" text-wrap><b>Bình luận mới nhất</b></h1>
            
            <ion-row class="row-item" id="newest-item" *ngFor="let comment of comments">
              <ion-col size="5">
                <img src={{comment.avatar}}>
              </ion-col>
              <ion-col size="18" class="col-comment">
                <div>
                  <ion-button class="row-button" float-right size="small" fill="clear"
                    (click)="showMore(comment.comid, comment.message)" *ngIf="comment.isMe">
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                  </ion-button>
                  <p class="p-name"><b>{{comment.full_name}}</b></p>
                  <p class="p-content">{{comment.message}}</p>
                  <p class="p-time">{{comment.date}}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-card>
  </div>
</ion-content>

<ion-footer padding>
  <ion-toolbar>
    <ion-row class="row-note">

      <ion-col offset="1" size="19" align-self-center id="input-desc">
        <ion-input type="text" placeholder="Nhập bình luận..." [(ngModel)]="comment" name="comment"></ion-input>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-button ion-button fill="clear" (click)="sendComment()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>