<ion-content>
  <ion-row class="row row-child">
    <ion-col size="4" class="col-left">
      <img src="../../assets/logotext-128x128.png">
    </ion-col>
    <ion-col size="20" class="col-right">
      <div class="div-top">{{title}}</div>
      <div class="div-center">{{content}}</div>
    </ion-col>
  </ion-row>
</ion-content>
