ion-content{
    --overflow: hidden;
    .row{
        margin: 5px 5px 5px 5px;
        .col-left{
            img{
                width: 100%;
            }
        }
        .col-right{
            .div-top{
                font-size: 1em;
                color: black;
            }
            .div-center{
                font-size: 0.9em;
                color: var(--ion-color-medium);
                text-align: justify;
                text-justify: inter-word;
            }
            .div-bottom{
                font-size: 0.8em;
                color: var(--ion-color-primary);
            }
        }
    }
}