<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>

      <ion-title *ngIf="!isEdit">Thêm sản phẩm</ion-title>
      <ion-title *ngIf="isEdit">Sửa sản phẩm</ion-title>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="row-header">
    <ion-col>
      THÔNG TIN CỦA BẠN
    </ion-col>
  </ion-row>
  <ion-row class="row-doctor-info">
    <ion-col size="5" style="margin: auto">
      <img
        src={{global.avatar}}>
    </ion-col>
    <ion-col size="18">
      <p class="p-name">{{global.userInfo.full_name}}</p>
      <p class="p-job">{{global.userInfo.phone}}</p>
      <p class="p-job">{{global.userInfo.email}}</p>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col size="15">
      THÔNG TIN SẢN PHẨM
    </ion-col> 
    <ion-col size="3" class="ion-text-center" (click)="changeType(1)">
      <p [ngClass]="'p-status ' + (item.typeSelected == 1 ?'selected' : '')">BÁN</p>
    </ion-col>
    <ion-col size="3.5" class="ion-text-center" (click)="changeType(0)">
      <p [ngClass]="'p-status ' + (item.typeSelected == 0 ?'selected' : '')">MUA</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="1" size="22" (click)="onSelectMarketType()">
      <ion-item>
          <ion-label position="fixed" class="label-input">
            <ion-icon name="list-box"></ion-icon>
          </ion-label>
        <ion-input placeholder="Loại nông sản" readonly [(ngModel)]='item.market_type_name'></ion-input>
      </ion-item>
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
        <ion-label position="fixed" class="label-input">
          <ion-icon name="information-circle"></ion-icon>
        </ion-label>
        <ion-input maxLength="80" placeholder="Tiêu đề" [(ngModel)]='item.title'></ion-input>
        <div *ngIf="item.title.length > 0" style="font-size: 10px; margin-top: 30px;">
          {{ 80 - item.title.length }}/80
        </div>
      </ion-item>   
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
          <ion-label position="fixed" class="label-input">
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input placeholder="Liên hệ" type="number" [(ngModel)]='item.contact'></ion-input>
      </ion-item>
    </ion-col>
    <ion-col offset="1" size="22">
      <ion-item>
          <ion-label position="fixed" class="label-input">
            <ion-icon name="cash"></ion-icon>
          </ion-label>
        <ion-input maxLength="25" placeholder="Giá cả" [(ngModel)]='item.price'></ion-input>
      </ion-item>
    </ion-col>
    <ion-col offset="1" size="22" (click)="onSelectProvince(item)">
      <ion-item>
          <ion-label position="fixed" class="label-input">
            <ion-icon name="pin"></ion-icon>
          </ion-label>
        <ion-input placeholder="Địa chỉ" readonly [(ngModel)]='item.province_name'></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="row-header">
    <ion-col>
      MÔ TẢ SẢN PHẨM
    </ion-col>
  </ion-row>
  <ion-row class="row-note">
    <ion-col size="24">
      - Sản phẩm của bạn sẽ được xét duyệt trong 24h.
    </ion-col>
    <ion-col size="24">
      - Thông tin của sản phẩm phải hoàn toàn chính xác.
    </ion-col>
  </ion-row>
  <ion-row class="row-text">
    <ion-col size="24">
      <ion-textarea class="text-area text-desc" placeholder="Vui lòng nhập tiếng Việt có dấu để đối tác có thể hiểu chính xác về sản phẩm của bạn"
            maxlength="5000" rows="6" [(ngModel)]="item.content">
        <div class="text-count">{{ 5000 - item.content.length }}/5000</div>
      </ion-textarea>
    </ion-col>
  </ion-row>

  <ion-row class="row-header" *ngIf="!isEdit">
    <ion-col>
      HÌNH ẢNH MÔ TẢ
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col offset="5" size="14">
        <div (click)="showGetImg(!defaultImage && !defaultVideo)" class="div-img">
          <span *ngIf="defaultImage == null && defaultVideo == null">+</span>
          <img *ngIf="defaultImage" [src]="defaultImage">
          <video *ngIf="defaultVideo" id="demoVideo" width="100%" height="100%" preload webkit-playsinline playsinline loop controls>
            <source [src]="defaultVideo">
          </video>
          <ion-button size="small" color="danger" 
              *ngIf="defaultImage" class="delete-button" (click)="clear()">X</ion-button>
          <ion-button size="small" color="danger" 
              *ngIf="defaultVideo" class="delete-button" (click)="clear()">X</ion-button>
        </div>
      </ion-col>
  </ion-row>


  <ion-row *ngIf="!isEdit">
    <ion-col offset="4" size="16">
      <ion-button expand="block" (click)="addMarket()">ĐỒNG Ý</ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isEdit">
    <ion-col offset="4" size="16">
      <ion-button expand="block" (click)="addMarket()">ĐỒNG Ý</ion-button>
    </ion-col>
  </ion-row>
</ion-content>