<ion-header>
  <ion-toolbar color="success" >
    <ion-title>{{category == null ? 'Chủ đề' : category.category_name}}</ion-title>
    
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="offlineMode != 0">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <p style="margin: 5px;"><b>{{text_noconnection}}</b></p> 
        <ion-button (click)="tryAgain()"  *ngIf="offlineMode == 2">Thử lại</ion-button>
      </ion-row>
    </ion-grid>
</ion-content>


<ion-content *ngIf="offlineMode == 0">
    <ion-grid class="first-post" (click)="showPostDetail(firstPost.nid)">
      <ion-row>
        <ion-col size="24" class="col-img">
            <img class="image" [src]="firstPost.news_image" />
        </ion-col>
        <ion-col size="24" class="col-content col-title">
          <p style="margin: 0px;"><b>{{firstPost.title}}</b></p>
        </ion-col>
        <ion-col size="24" class="col-content col-desc"> 
          <p style="margin: 0px;">{{firstPost.short_desc}}</p>
        </ion-col>
        <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
            {{firstPost.date}} |
        </ion-col>
        <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
          <ion-icon class="icon" name="eye"></ion-icon>
        </ion-col>
        <ion-col size="auto" class="ion-text-left col-content col-time col-number">
          {{firstPost.counter_view}}
        </ion-col>
        <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
          <ion-icon class="icon" name="text"></ion-icon>
        </ion-col>
        <ion-col size="auto" class="ion-text-left col-content col-time col-number">
          {{firstPost.comments_count}}
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="item-post" *ngFor="let post of posts" (click)="showPostDetail(post.nid)">
      <ion-row>
        <ion-col size="8" class="col-img">
          <img src={{post.news_image}} class="thumb-image">
          <img src="../../assets/youtube.png" class="video-image" *ngIf="post.isVideo">
        </ion-col>
        <ion-col size="16">
          <ion-row>
            <ion-col size="24" class="col-content col-title">
              <p style="margin: 0px;">
                <b>{{post.title}}</b>
              </p>
            </ion-col>
          </ion-row>
          <ion-row style="position: absolute; bottom: 5%; width: 90%;">
            <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
                {{post.date}} |
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
              <ion-icon class="icon" name="eye"></ion-icon>
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-number">
              {{post.counter_view}}
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
              <ion-icon class="icon" name="text"></ion-icon>
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-number">
              {{post.comments_count}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
