
.img-header {
  height: 75%;
  width: auto;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
}
.first-post{
  .col-img{
    padding: 0px;
    img{   
      width: 100%;
      height: 250px;
    }
  }
  .col-content{
    text-align: justify;
    text-justify: inter-word;
    &.col-title {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 1.0em;
    }
    &.col-desc{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-time{
      font-size: 0.75em;
      color: rgba(0, 0, 0, 0.75);
      &.col-number{
        margin-left: -5px;
      }
      &.col-icon{
      }
    }
  }
}
.item-post{
  .col-img{
    .thumb-image{   
      width: 100%;
      height: 75px;
      padding-left: 2px;
    }

    .video-image {
      position: absolute;
      height: 30px;
      width: 22px;
      top: 5px;
      left: 8px;
    }
  }
  .col-content{
    text-align: justify;
    text-justify: inter-word;
    &.col-title {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-desc{
      padding-left: 10px;
      padding-right: 10px;
      font-size: 0.9em;
    }
    &.col-time{
      font-size: 0.75em;
      color: rgba(0, 0, 0, 0.75);
      &.col-number{
        margin-left: -5px;
      }
      &.col-icon{
      }
    }
  }
}
.under-line{
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  margin-top: -5px;
}
