// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.mihn-Dropdownlist{
    .modal-wrapper {
        height: 355px;
        max-height: 100%;
        width: 250px;
    }
}

.mihn-toast-e{
    --background: #faeded;
    --border-color: #fc9299;
    --color: #ff000d;
    --border-radius: 0px;
    --border-style: solid;
    --border-width: 1px;
    text-align: center;
    font-size: 1em;
}

.mihn-toast-s{
    --background: #edfaf7;
    --border-color: #abfc92;
    --color: #1d7e00;
    --border-radius: 0px;
    --border-style: solid;
    --border-width: 1px;
    text-align: center;
    font-size: 1em;
}
.mihn-toast-w{
    --background: #f9faed;
    --border-color: #f4fd6d;
    --color: #db9600;
    --border-radius: 0px;
    --border-style: solid;
    --border-width: 1px;
    text-align: center;
    font-size: 1em;
}

.mihn-toast-wb{
    --background: #f9faed;
    --border-color: #f4fd6d;
    --color: #db9600;
    --border-radius: 0px;
    --border-style: solid;
    --border-width: 1px;
    --button-color: #db9600;
    font-size: 1em;
}

.mihn-alert{
    .alert-message{
        font-size: 14px;
        padding: 0px;
        text-align: center;
        margin-top: 10px;
    }
    .alert-head{
        background-color: var(--ion-color-primary);
        .alert-title{
            color: white;
        }
        text-align: center;
    }
    .col-image{
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .row-item {
        margin-bottom: 0px;
        .p-content {
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: 1em;
          text-align: justify;
          text-justify: inter-word;
          color: var(--ion-color-dark);
        }
        .p-time {
            margin: 0px 0px 5px 0px;
          font-size: 1em;
          color: var(--ion-color-dark);
          opacity: 0.75;
        }
        .p-name {
          margin: 0px;
          font-size: 1.2em;
          font-weight: bold;
          color: var(--ion-color-dark);
        }
        .p-desc {
          margin: 0px;
          font-size: 1.2em;
          font-weight: bold;
          color: var(--ion-color-dark);
          text-align: justify;
          text-justify: inter-word;
        }
      }
    .no-marin{
        margin: 0px 0px 0px 0px;
    }

}

.popup-selecter{
    .modal-wrapper {
        height: 50%;
        width: 100%;
        position: fixed;
        bottom: 0px;
        border-radius: 20px 20px 0px 0px;
    }
}
.searchbar-input.sc-ion-searchbar-md{
    border-radius: 20px;
    border: 1px solid #008000;
    box-shadow: none;
    height: 40px;
}
.searchbar-search-icon.sc-ion-searchbar-md{
    top:9px;
}

.notification-popup{
    .modal-wrapper {
        height: 10%;
        width: 90%;
        position: fixed;
        top: 2.5%;
        border-radius: 5px;
    }
}