<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>TÌM KIẾM</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content *ngIf="offlineMode != 2">
  <ion-row>
    <ion-col size="24">
      <ion-searchbar placeholder="Hãy nhập từ khóa" (search)="searchByKeyword($event)"></ion-searchbar>
    </ion-col>
  </ion-row>
  <ion-row style="margin: 3px;">
    <ion-col class="ion-text-center" size="auto" *ngFor="let word of searchWords">
      <ion-button style="margin:0px;" (click)="searchByFixword(word)" class=" button-search" size="large" color="light">
        {{word}}
      </ion-button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!isHidden" style="margin: 10px; font-size: 0.9em;">
    <ion-col size="24">
      Có <b>{{length}}</b> kết quả.
    </ion-col>
  </ion-row>
  <ion-row *ngIf="text_noconnection != ''" style="margin: 10px; font-size: 0.9em;">
    <ion-col size="24">
      {{text_noconnection}}
    </ion-col>
  </ion-row>
  <div *ngIf="category==1">
    <ion-grid class="item-post" *ngFor="let post of posts" (click)="showPostDetail(post.nid)">
      <ion-row>
        <ion-col size="7" class="col-img">
          <img src={{post.news_image}} class="thumb-image" (error)="handleImgError($event, post)">
          <img src="../../assets/youtube.png" class="video-image" *ngIf="post.isVideo">
        </ion-col>
        <ion-col size="17">
          <ion-row>
            <ion-col size="24" class="col-content col-title">
              <p style="margin: 0px;">
                <b>{{post.title}}</b>
              </p>
            </ion-col>
          </ion-row>
          <ion-row style="position: absolute; bottom: 5%; width: 90%;">
            <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
              {{post.date}} |
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
              <ion-icon class="icon" name="eye"></ion-icon>
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-number">
              {{post.counter_view}}
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
              <ion-icon class="icon" name="text"></ion-icon>
            </ion-col>
            <ion-col size="auto" class="ion-text-left col-content col-time col-number">
              {{post.comments_count}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="category==2">
    <ion-grid class="item-post" *ngFor="let market_item of market_items"
      (click)="showMarketDetail(market_item.market_id)">
      <ion-row>
        <ion-col size="7" class="col-img">
          <img src={{market_item.image}} class="thumb-image">
        </ion-col>
        <ion-col size="17">
          <ion-row>
            <ion-col size="24" class="col-content col-title">
              <p style="margin: 0px;"><b>{{market_item.title_short}}</b></p>
            </ion-col>
          </ion-row>
          <ion-row style="position: absolute; bottom: 5%; width: 90%;">
            <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
              <p style="margin: 0px">
                {{market_item.type == 0 ? 'Cần Mua' : 'Cần Bán' }} | 
                {{market_item.status==0 ? 'Chờ duyệt' : market_item.status==1 ? 'Còn hàng' : 'Ngừng bán'}}
              </p>
              <p style="margin: 0px">{{market_item.date}} bởi <b>{{market_item.contact || market_item.creator || 'Ẩn danh'}}</b></p>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col offset="0.5" size="23" class="under-line"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="category==3">
      <ion-grid class="item-post" *ngFor="let answer of answers" (click)="showAnswerDetail(answer)">
        <ion-row>
          <ion-col size="7" class="col-img">
            <img src={{answer.image}} class="thumb-image">
          </ion-col>
          <ion-col size="17">
            <ion-row>
              <ion-col size="24" class="col-content col-title">
                <p style="margin: 0px;"><b>{{answer.title}}</b></p>
              </ion-col>
            </ion-row>
            <ion-row style="position: absolute; bottom: 5%; width: 90%;">
              <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
                <p style="margin: 0px">{{answer.text_status}}</p>
                <p style="margin: 0px">{{answer.date}} bởi <b>{{answer.display_name}}</b></p>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col offset="0.5" size="23" class="under-line"></ion-col>
        </ion-row>
      </ion-grid>
  </div>
  <div *ngIf="category==4">
      <ion-grid class="item-post" *ngFor="let post of videos" (click)="showVideoDetail(post)">
        <ion-row>
          <ion-col size="7" class="col-img">
            <img src={{post.news_image}} class="thumb-image" (error)="handleImgError($event, post)">
            <img src="../../assets/youtube.png" class="video-image">
          </ion-col>
          <ion-col size="17">
            <ion-row>
              <ion-col size="24" class="col-content col-title">
                <p style="margin: 0px;">
                  <b>{{post.title}}</b>
                </p>
              </ion-col>
            </ion-row>
            <ion-row style="position: absolute; bottom: 5%; width: 90%;">
              <ion-col offset="0.25" size="auto" class="ion-text-left col-content col-time">
                {{post.date}} |
              </ion-col>
              <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
                <ion-icon class="icon" name="eye"></ion-icon>
              </ion-col>
              <ion-col size="auto" class="ion-text-left col-content col-time col-number">
                {{post.counter_view}}
              </ion-col>
              <ion-col size="auto" class="ion-text-left col-content col-time col-icon">
                <ion-icon class="icon" name="text"></ion-icon>
              </ion-col>
              <ion-col size="auto" class="ion-text-left col-content col-time col-number">
                {{post.comments_count}}
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col offset="0.5" size="23" class="under-line"></ion-col>
        </ion-row>
      </ion-grid>
    </div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

