<ion-header>
  <ion-toolbar color="success" >
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Thông báo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="global.isLogin" >
    <ion-row style="margin: 10px; font-size: 0.9em; font-weight: bold;">
      Gần đây
    </ion-row>
    <ion-row class="row-item" id="newest-item">
        <ion-col size="6">
          <img src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1">
        </ion-col>
        <ion-col size="17">
          <p class="p-content"><b>{{global.userInfo.full_name}}</b> và những người khác đã thêm vào tin của họ.</p>
          <p class="p-time">1 giờ</p>
        </ion-col>
    </ion-row>
    <ion-row class="row-item" *ngFor="let n of notifications">
        <ion-col size="6">
          <img src="https://i0.wp.com/www.winhelponline.com/blog/wp-content/uploads/2017/12/user.png?fit=256%2C256&quality=100&ssl=1">
        </ion-col>
        <ion-col size="17">
          <p class="p-content"><b>{{global.userInfo.full_name}}</b> và những người khác đã thêm vào tin của họ.</p>
          <p class="p-time">1 giờ</p>
        </ion-col>
    </ion-row>
</ion-content>


<ion-content *ngIf="!global.isLogin">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
      <p><b>ĐĂNG NHẬP ĐỂ NHẬN THÔNG BÁO</b></p> 
      <ion-button (click)="showLogin()">ĐĂNG NHẬP</ion-button>
      </ion-row>
    </ion-grid>
</ion-content>
