.row-item{
    img{
        width: 60px;
        height: 60px;
        margin: auto;
        display: block;
        border-radius: 50%;
    }
    .p-content{
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 0.9em;
    }
    .p-time{
        margin: 0px;
        position: absolute;
        bottom: 5px;
        font-size: 0.8em;
        color: rgba(0, 0, 0, 0.5);
    }
}

#newest-item{
    background: rgba(232, 241, 255, 0.5);
}