<ion-header>
    <ion-toolbar color="primary">
        <ion-row *ngIf="!global.isLogin">
          <ion-col size="24">
            <p class="header-p-name">Chào bạn</p>
          </ion-col>
          <ion-col size="24">        
            <p class="header-p-desc">Đăng nhập để có thể trải nghiệm tốt hơn</p>
          </ion-col>
          <ion-col size="8">
            <ion-button shape="round" expand="full" color="danger" size="small" (click)="showLogin()">Đăng nhập</ion-button>
          </ion-col>
          <ion-col size="8">
            <ion-button shape="round" expand="full" color="light" size="small" fill="outline" (click)="showRegister()">Đăng ký</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="row-item" *ngIf="global.isLogin">
            <ion-col size="4">
              <img src={{global.avatar}}>
            </ion-col>
            <ion-col size="17">
              <p class="p-content">{{global.userInfo.full_name}}</p>
              <p class="p-time">{{global.userInfo.email}}</p>
            </ion-col>
        </ion-row>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="content-main">
      <ion-list style="background-color: rgba(0, 0, 0, 0)">
        <ion-item (click)="about()"  style="background-color: rgba(0, 0, 0, 0)">
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Về Cổng Nông dân</ion-label>
        </ion-item>
        <ion-item *ngIf="global.isLogin" (click)="openProfile()">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>Thay đổi thông tin cá nhân</ion-label>
        </ion-item>
        <ion-item (click)="support()">
          <ion-icon name="headset" slot="start"></ion-icon>
          <ion-label>Hỗ trợ</ion-label>
        </ion-item>
        <ion-item (click)="openUrl()">
          <ion-icon name="star" slot="start"></ion-icon>
          <ion-label>Đánh giá</ion-label>
        </ion-item>
        <ion-item (click)="getPrivacyPolicy()">
          <ion-icon name="list-box" slot="start"></ion-icon>
          <ion-label>Điều khoản sử dụng</ion-label>
        </ion-item>
        <ion-item *ngIf="global.isLogin" (click)="showLogout()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Đăng xuất</ion-label>
        </ion-item>
      </ion-list>
  
  </ion-content>
  