.header-p-name{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  font-size: 1.3em;
  font-weight: bold;
  color: var(--ion-color-light);
}
.header-p-desc{
  margin: -7px 0px 0px 10px;
  font-size: 0.8em;
  color: var(--ion-color-light);
}
.item-label{
  font-size: 0.9em;
}

.row-item{
  margin-top: 15px;
  margin-bottom: 15px;
  img{
      width: 50px;
      height: 50px;
      margin: auto;
      display: block;
      border-radius: 50%;
      object-fit: cover;
  }
  .p-content{
      margin-top: 0px;
      margin-bottom: 5px;
      font-size: 1.1em;
      font-weight: bold;
      color: var(--ion-color-light);
  }
  .p-time{
      margin: 0px;
      position: absolute;
      bottom: 10px;
      font-size: 0.8em;
      color: var(--ion-color-light);
  }
}
.content-main{
  --ion-background-color: white;
}