.title_news {
  text-align: justify;
  text-justify: inter-word;
  font-size: 1.3em;
}

.left_text {
  float: left;
}

.right_text {
  float: right;
}

.row-note {
  font-family: SVN-Regular !important;
  font-size: 20px;
  ion-input,
  ion-textarea {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
  }
  #input-desc {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #aaaaaa;
  }
  button {
    font-size: 1.2em;
  }
}

ion-footer {
  padding: 0px;
}
.row-item {
  margin-top: 10px;
  margin-bottom: 10px;
  img {
    width: 45px;
    height: 45px;
    margin: auto;
    display: block;
    border-radius: 50%;
  }
  .col-comment {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  .p-content {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
  }
  .p-time {
    margin: 0px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.5);
  }
  .p-name {
    margin: 0px;
    font-size: 0.9em;
  }
}

.row-button {
  position: relative;
  top: 50%;
}

ion-card {
  --ion-background-color: white;
}
