<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>BÌNH LUẬN</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="none">
      <h2 class="title_news" text-wrap>{{title}}</h2>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>BÌNH LUẬN MỚI NHẤT</ion-item>
    <ion-row class="row-item" id="newest-item" *ngFor="let comment of comments">
      <ion-col size="5">
        <img src={{comment.avatar_url}}>
      </ion-col>
      <ion-col size="18" class="col-comment">
        <div>
          <ion-button class="row-button" float-right size="small" fill="clear"
            (click)="showMore(comment.comid, comment.message)" *ngIf="comment.isMe">
            <ion-icon slot="icon-only" name="more"></ion-icon>
          </ion-button>
          <p class="p-name">{{comment.full_name}}</p>
          <p class="p-content">{{comment.message}}</p>
          <p class="p-time">{{comment.date}}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center
      style="height: 70%; flex-direction: column; background-color: white;" *ngIf="!haveComment">
      <p style="margin: 5px;"><b>{{text_noconnection}}</b></p>
      <ion-button (click)="tryAgain()" *ngIf="offlineMode == 2">Thử lại</ion-button>
    </ion-row>
  </ion-card>
</ion-content>

<ion-footer padding>
  <ion-toolbar>
    <ion-row class="row-note">

      <ion-col offset="1" size="19" align-self-center id="input-desc">
        <ion-input type="text" placeholder="Nhập bình luận..." [(ngModel)]="comment" name="comment"></ion-input>
      </ion-col>
      <ion-col size="3" align-self-center text-center>
        <ion-button ion-button fill="clear" (click)="sendComment()">
          <ion-icon slot="icon-only" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>